---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

$main: rgb(0,151,217);
$accent: rgb(255,108,14);
$main: black;
$accent: black;

.text-main {
}

.text-accent {
}

body {
}

.sidebar {
    opacity: 1;
}

.greedy-nav {
    a, a:hover{
    }
}
